@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  scroll-behavior: smooth;

}



:root {
  --background: #0a0a0a;
  --foreground: #e5e5e5;
  --primary: #93b1e9;
  --primaryh1: #14213d;
  /* --primaryh1: #5a3c24; */
  --secondary: #b0b4e0;
  --button: #000000;
  --swiper-navigation-size: 10px;
}

html,
body {
  height: 100%;
  scrollbar-width: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-domine);
}

h1 {
  font-size: 15rem;
  font-family: var(--font-gravitas-one);
  color: transparent;
  -webkit-text-stroke: 1px var(--foreground);
  -webkit-text-stroke-width: 1.5px;

}

h2 {
  font-size: 3rem;
  font-family: var(--font-gravitas-one);
  color: var(--primary)
}

.background h2,
.make h3,
.consult h3 {
  color: var(--primaryh1)
}

.make p {
  color: var(--primaryh1)
}

h3 {
  font-size: 2rem;
  font-family: var(--font-Oswald);
  color: var(--secondary);
}



h4 {
  font-size: 1.25rem;
  color: var(--primary);
}

::selection,
.price {
  background: var(--foreground);
  color: var(--primaryh1);
  text-shadow: none;
}

footer strong {
  color: var(--secondary);
}

a:hover {
  color: var(--secondary);
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  object-fit: cover;
  /* Optional: remove the border around the iframe */
}

section {
  padding: 2rem;
  border-bottom: 1px solid rgb(241 241 241 / 28%);
  margin: 2rem;
}

input[type="text"],
input[type="email"],
select,
textarea {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: .2em solid var(--primary);
  background-color: var(--background);
  border-radius: .2em .2em 0 0;
  padding: .4em;
  margin-bottom: .5em;
  color: var(--secondary);
}

select {
  margin-bottom: 2rem;
}

.navigation {
  background-color: rgb(42 43 45 / 63%);
  backdrop-filter: blur(20px);
}

nav h3 {
  color: white;
}

button {
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--button);
  color: var(--foreground);
}

.altButton {
  background-color: var(--foreground);
  color: var(--background);
}

.background {
  background-color: #ededed;

}

.computerbg {
  background-image: url('/computer.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.workHeading,
.work {
  will-change: transform, filter;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;


}

.shadow {

  box-shadow: 0 0 20px 7px rgb(241 241 241 / 28%);
}

.serviceSection {
  /* background-image: url("https://plus.unsplash.com/premium_photo-1685086785636-2a1a0e5b591f?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-image: url("/sevicee.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding: 10rem; */
}

.cardService {
  position: relative;
  overflow: hidden;
  /* background-color: var(--background);
   */
  /* backdrop-filter: blur(20px); */
  background-color: var(--primaryh1);
}

.cardService:hover:before {
  transform: scale(1);
}

.cardService:before {
  content: "";
  position: absolute;
  top: 1.5rem;
  width: 310%;
  height: 7%;
  background-color: var(--secondary);
  transform: scale(0);
  transform: translate(63%);
  transition: all .8s cubic-bezier(.25, .46, .45, .94);
  border-radius: 10rem;
  z-index: 0;
}

.cardService:hover {
  box-shadow: inset 0 0 1px 2px #f1f1f1;
  /* border: inset 1px solid white; */
  transition: all .5s cubic-bezier(.25, .46, .45, .94);

  h3 {
    color: var(--background);
  }
}

form h4 {
  color: var(--secondary);
}

.form h3 {
  color: var(--primary);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  section {
    padding: 1rem;
    margin: 1rem;
  }
}